# Ignorar arquivos e diretórios do Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Ignorar ambiente virtual do Python
.venv/
env/
venv/

# Ignorar módulos do Node.js
node_modules/

# Arquivos de log
*.log

# Ignorar IDEs e editores de texto
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Arquivos do sistema
.DS_Store
Thumbs.db